@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: 'Poppins', sans-serif !important;
}

header {
    position: fixed; /* Header luôn cố định ở trên cùng */
    top: 0;
    left: 0;
    width: 100%;
    z-index: 50;
    background: #562c2cb3; /* Ban đầu trong suốt */
}

.btn-header {
    display: flex;
    position: relative;
    align-items: center;
    padding: 10px 20px;
    color: white;
    border-radius: 33px;
    width: 60px; /* Ban đầu chỉ đủ chứa icon */
    height: 40px;
    transition: width 0.3s ease-in, padding 0.3s ease-in;
    overflow: hidden; /* Đảm bảo không bị tràn ra ngoài */
    background-color: #f2542d;

}

.btn-img {
    position: absolute;
    right: 8px;
    width: 24px; /* Kích thước icon */
    height: 24px;
    margin-right: 10px; /* Khoảng cách giữa icon và text */
}

.btn-header:hover {
    width: auto;
    padding: 10px 20px;
}

.btn-header:hover .span-header {
    opacity: 1; /* Hiển thị text */
    visibility: visible;
    margin-right: 1.5rem;
    transition: opacity 0.3s ease, visibility 0.3s ease, margin-right 0.3s ease;
}

.span-header {
    opacity: 0; /* Ban đầu ẩn text */
    visibility: hidden; /* Ẩn text hoàn toàn */
    white-space: nowrap; /* Đảm bảo text không bị ngắt dòng */
    transition: opacity 0.3s ease, visibility 0.3s ease, margin-left 0.3s ease;
}

.header-title {
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    color: #FFFFFFE5;
}

.header-logo {
    font-size: 15px;
    font-weight: 700;
    line-height: 24px;
}

.logo-header:hover path {
    fill: #f97316;
}

.nav-hero {
    position: absolute;
    right: 0;
    left: 0;
    bottom: 8rem;
    display: flex;
    justify-content: center;
}
.container-hero {
    border-top: solid 2px rgba(255, 255, 255, 0.3);
    display: flex;
    align-items: center;
    text-align: center;
    padding: 0 5rem;
    margin: 0 auto;
    width: 80%;
    justify-content: space-between;
}

.nav-item {
    width: 22rem;
    color: #fff;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.3s;
    position: relative;
    z-index: 100;
    display: flex;
    text-align: center;
    padding-bottom: 2rem;
    justify-content: center;

    img {
        display: block;
    }

    h4 {
        margin-top: 0.5rem;
        position: absolute;
        font-weight: 600;
        bottom: 0;
        transition: all .35s ease-in-out
    }
}

.title-bloc1 {
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 0.5rem;
    text-align: left;
    color: #F2542D;
}

.sub-bloc1 {
    font-weight: 500;
    font-size: 28px;
    line-height: 32px;
    margin-bottom: 0.5rem;
    color: #562C2C;
    text-align: left;
}

.des-bloc1 {
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    text-align: left;
    color: #562C2CCC;
}

.nav-item::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 0;
    background: #fff;
    transition: all .1s ease-in;
}

.btn-feature {
    color: #562C2C;
    position: relative;
    padding: 0.7rem 2.75rem;
    background: transparent;
    display: inline-block;
    border: 2px solid #562C2C4D;
    border-radius: 3rem;
    font-size: 1rem;
    cursor: pointer;
    overflow: hidden;
    transition: color 0.3s ease;
    span {
        position: relative;
        display: flex;
        justify-content: center;
        z-index: 1;
    }
}

.btn-feature::before {
    content: '';
    position: absolute;
    bottom: 0; /* Điểm bắt đầu tại bottom */
    left: 30%; /* Canh giữa button */
    transform: translateX(-50%) scale(0); /* Thu nhỏ tại điểm giữa */
    width: 0;
    height: 0;
    background-color: #f2542d;
    border-radius: 50% 50% 40% 40%; /* Tạo hình giọt nước bằng cách điều chỉnh bo góc */
    border-color: #007bff;
    z-index: 0;
    transition: all 0.7s ease-out;
}

.btn-feature:hover::before {
    transform: translateX(-50%) scale(30); /* Mở rộng hình tròn đủ để bao phủ toàn bộ button */
    width: 100%;
    height: 100%;
}

.btn-feature:hover {
    color: white;
}

.card-item-2 {
    margin-top: -2.25rem;
}

.card-item {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
}

.map-section {
    background-image: url("../public/assets/shutterstock.png");
    background-color: #FFF6F4;
}

.button-map {
    height: 44px;
    gap: 8px;
    padding: 10px 16px;
    border-radius: 40px;
    border-width: 1.5px;
    border-color: #F2542D80;
    color: #562C2C;
}

.sample-map {
    background: #FFFFFF99;
    backdrop-filter: blur(15px);
    box-shadow: 0px 2px 10px 0px #3333331A;
    height: 48px;
    top: 16px;
    left: 3rem;
    gap: 4px;
    padding: 4px 10px;
    border-radius: 8px;
    position: absolute;
    z-index: 1000;
    display: flex;
    align-items: center;
    color: #562C2C
}

.activity-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 700px;
    margin: auto;
}

.title {
    font-size: 24px;
    font-weight: bold;
    color: #e74c3c;
    text-transform: uppercase;
    margin-bottom: 10px;
    text-align: center;
}

.card-description {
    padding-left: 12px; /* Dành chỗ cho gạch dọc */
    color: #562C2CCC;
    font-size: 18px;
    min-height: 60px;
    position: relative;
    font-weight: 400;
    margin-left: 0.5rem;
}

.card-description::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 0.5px;
    background-color: #BBBBBB;
}

.btn-see {
    font-weight: 500;
    font-size: 20px;
    color: #666666;
    border-bottom: 1px solid #666666;
}

.card-tagline {
    font-weight: 500;
    font-size: 28px;
    color: #222222;
}

.card-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    color: #F2542D;
}

.calender {
    border: 1px solid #562C2C4D;
    border-radius: 24px;
    box-shadow: 0 4px 30px #F2542D1A;
    padding: 24px 32px;

}

.available {
    color: #F2542D;
    font-size: 18px;
    font-weight: 400;
}

.occupied {
    color: #AAAAAA;
    font-size: 18px;
    font-weight: 400;
    span {
        color: #999999 !important;
    }
}

.occupied-day {
    color: #999999 !important;
}

.btn-day {
    width: auto;
    gap: 4px;
    padding: 8px 16px;
    border-radius: 8px;
    border: 1px solid #D7D7D7;
    background-color: #FFFFFF;
    height: 4.5rem;
}

.btn-available {
    width: auto;
    gap: 8px;
    padding: 8px 16px;
    border-radius: 8px;
    background-color: #FFF4F1;
    border: 1px solid #F2542D;
    height: 4.5rem;

}

.btn-cal {
    height: 4.5rem;
}

.day {
    font-size: 20px;
    font-weight: 600;
    color: #562C2C;
}

/* Form Styling */
.form-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

label {
    display: flex;
    flex-direction: column;
    font-size: 24px;
    font-weight: 400;
    color: #562C2C;
}

input, textarea {
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
}

textarea {
    height: 80px;
}

.file-upload {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 14px;
    color: #3498db;
    cursor: pointer;
}

.icon {
    font-size: 18px;
}

.form-actions {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}
form {
    input {
        font-size: 18px;
        color: #562C2C;
        font-weight: 400;
        border: 1px solid #562C2C4D;
        border-radius: 123px;
        box-shadow: 0 4px 30px #F2542D1A;
    }

    .toolbar {
        font-size: 18px;
        color: #562C2C;
        border-radius: 16px;
        font-weight: 400;
        border: 1px solid #562C2C4D;
        box-shadow: 0 4px 30px #F2542D1A;
    }

    .ql-container {
        border: none !important;
    }

    .ql-toolbar {
        border: none !important;
        border-bottom: 1px solid #E2E8F0 !important;
    }
}

.btn-submit {
    width: 200px;
    height: 48px;
    padding: 12px 16px;
    border-radius: 33px;
    color: white;
    background-color: #F2542D;
    justify-content: center;
    margin-left: 1rem;
}

.btn-cancel {
    width: 200px;
    height: 48px;
    padding: 12px 16px;
    border-radius: 33px;
    border: 1px solid #562C2C4D;
    color: #562C2C;
    justify-content: center;


}

button {
    padding: 10px 15px;
    font-size: 14px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 5px;
}

.clear {
    background: #f2f2f2;
    color: #333;
}

.submit {
    background: #e74c3c;
    color: white;
}

.footer {
    background-color: #542d2d;
    color: #e5d3cf;
    padding: 3rem 7rem;

}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: start;
    margin: 0 auto;
}

.footer-section {
    flex: 1;
    text-align: left;
}

.footer-title {
    font-weight: bold;
}

.footer-divider {
    border: none;
    border-top: 1px solid #7a4e4e;
    margin: 20px 0;
}

.footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.social-icons {
    display: flex;
    gap: 10px;
    align-items: start;
}

.icon {
    background-color: #ff5722;
    padding: 10px;
    border-radius: 50%;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

@media screen and (min-width: 1024px) {
    .nav-item h4 {
        transform: translateY(10rem);
        font-size: 1.25rem;
        font-weight: 600;
        text-transform: uppercase
    }
    .nav-item:hover h4 {
        transform: translateY(0); /* Trượt lên để hiển thị trong khung */
    }

    .nav-item:hover img {
        transform: scale(1.2); /* Phóng to text */
    }

    .nav-item:hover::after {
        box-shadow: #fffc 0 22px 70px 4px;
        height: 3px;
    }
}

@media (max-width: 768px) {
    .footer-container {
        flex-direction: column; /* Chuyển từ hàng ngang thành cột */
        align-items: center;
        text-align: center;
    }

    .footer-section {
        min-width: unset;
        width: 100%;
    }

    .footer-bottom {
        flex-direction: column;
        text-align: center;
    }

    .social-icons {
        margin-top: 10px;
    }
}

/* Responsive cho màn hình điện thoại */
@media (max-width: 480px) {
    .footer {
        padding: 15px;
    }

    .footer-container {
        text-align: center;
    }

    .footer-section {
        margin-bottom: 15px;
    }

    .social-icons {
        gap: 5px;
    }

    .icon {
        padding: 8px;
        font-size: 14px;
    }
}
