@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: 'Poppins', sans-serif !important;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
    background: #562c2cb3;
}

.wrap-header {
    background: #562c2cb3;
}

.language {
    display: flex;
    justify-content: space-between;
    gap: 0.5rem;
    color: white;
    img {
        width: 20px;
        height: 20px;
    }
    .active {
        color: #f2542d;
    }
}

.btn-header {
    display: flex;
    position: relative;
    align-items: center;
    padding: 10px 20px;
    color: white;
    border-radius: 33px;
    width: 60px;
    height: 40px;
    transition: width 0.3s ease-in, padding 0.3s ease-in;
    overflow: hidden;
    background-color: #f2542d;

}

.btn-img {
    position: absolute;
    right: 8px;
    width: 24px;
    height: 24px;
    margin-right: 10px;
}

.btn-header:hover {
    width: auto;
    padding: 10px 20px;
}

.btn-header:hover .span-header {
    opacity: 1;
    visibility: visible;
    margin-right: 1.5rem;
    transition: opacity 0.3s ease, visibility 0.3s ease, margin-right 0.3s ease;
}

.span-header {
    opacity: 0;
    visibility: hidden;
    white-space: nowrap;
    transition: opacity 0.3s ease, visibility 0.3s ease, margin-left 0.3s ease;
}

.header-title {
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    color: #FFFFFFE5;
}

.header-logo {
    font-size: 15px;
    font-weight: 700;
    line-height: 24px;
}

.logo-header:hover path {
    fill: #f97316;
}

.nav-hero {
    position: absolute;
    right: 0;
    left: 0;
    bottom: 8rem;
    display: flex;
    justify-content: center;
}
.container-hero {
    border-top: solid 2px rgba(255, 255, 255, 0.3);
    display: flex;
    align-items: center;
    text-align: center;
    padding: 0 5rem;
    margin: 0 auto;
    width: 80%;
    justify-content: space-between;
}

.nav-item {
    width: 22rem;
    color: #fff;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.3s;
    position: relative;
    z-index: 100;
    display: flex;
    text-align: center;
    padding-bottom: 2rem;
    justify-content: center;

    img {
        display: block;
    }

    h4 {
        margin-top: 0.5rem;
        position: absolute;
        font-weight: 600;
        bottom: 0;
        transition: all .35s ease-in-out
    }
}

.line-title {
    flex: 1;
    height: 2px;
    background-color: #BBBBBB;
    margin: 0 15px;
    z-index: 9999;
    }

.features-title {
    font-size: 3rem;
    font-weight: 600;
    color: #F2542D;
    text-align: center;
}

.features-subtitle {
    color: #562C2C;
    font-size: 1.5rem;
    font-weight: 400;
    text-align: center;
}

.title-bloc1 {
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 0.5rem;
    text-align: left;
    color: #F2542D;
}

.sub-bloc1 {
    font-weight: 500;
    font-size: 28px;
    line-height: 32px;
    margin-bottom: 0.5rem;
    color: #562C2C;
    text-align: left;
}

.des-bloc1 {
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    text-align: left;
    color: #562C2CCC;
}

.btn-feature {
    color: #562C2C;
    position: relative;
    padding: 0.7rem 2.75rem;
    background: transparent;
    display: inline-block;
    border: 2px solid #562C2C4D;
    border-radius: 3rem;
    font-size: 1rem;
    cursor: pointer;
    overflow: hidden;
    transition: color 0.3s ease;
    span {
        position: relative;
        display: flex;
        justify-content: center;
        z-index: 1;
    }
}

.btn-feature::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 30%;
    transform: translateX(-50%) scale(0);
    width: 0;
    height: 0;
    background-color: #f2542d;
    border-radius: 50% 50% 40% 40%;
    border-color: #007bff;
    z-index: 0;
    transition: all 0.7s ease-out;
}

.btn-feature:hover::before {
    transform: translateX(-50%) scale(30);
    width: 100%;
    height: 100%;
}

.btn-feature:hover {
    color: white;
}

.card-item-2 {
    margin-top: -2.25rem;
}

.card-item {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
}

.map-section {
    background-image: url("../public/assets/shutterstock.png");
    background-color: #FFF6F4;
}

.map-container {
    position: relative;
    margin: auto;
    overflow: hidden;
}

.map-image {
    width: 100%;
    display: block;
    border-radius: 10px;
}

/* Markers */
.marker {
    position: absolute;
    width: 30px;
    height: 30px;
    transform: translate(-50%, -50%);
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
}

/* Khi marker được click */
.marker.active {
    transform: translate(-50%, -50%) scale(1.3);
}

/* Popup */
.popup {
    position: absolute;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);
    background: white;
    padding: 8px 12px;
    font-size: 12px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    white-space: nowrap;
    text-align: center;
    animation: fadeIn 0.3s ease-in-out;
}

.popup strong {
    display: block;
    font-size: 14px;
    margin-bottom: 3px;
}

.popup p {
    font-size: 12px;
    margin: 0;
    color: gray;
}

.button-map {
    height: 44px;
    gap: 8px;
    padding: 10px 16px;
    border-radius: 40px;
    border: 1.5px solid #F2542D80;
    color: #562C2C;
}

.sample-map {
    background: #FFFFFF99;
    backdrop-filter: blur(15px);
    box-shadow: 0px 2px 10px 0px #3333331A;
    height: 48px;
    top: 16px;
    left: 1rem;
    gap: 4px;
    padding: 4px 10px;
    border-radius: 8px;
    position: absolute;
    z-index: 1000;
    display: flex;
    align-items: center;
    color: #562C2C
}

.activity-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 700px;
    margin: auto;
}

.title {
    font-size: 24px;
    font-weight: bold;
    color: #e74c3c;
    text-transform: uppercase;
    margin-bottom: 10px;
    text-align: center;
}

.card-description {
    padding-left: 12px;
    color: #562C2CCC;
    font-size: 18px;
    min-height: 60px;
    position: relative;
    font-weight: 400;
    margin-left: 0.5rem;
}

.card-description::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 0.5px;
    background-color: #BBBBBB;
}

.btn-see {
    font-weight: 500;
    font-size: 20px;
    color: #666666;
    border-bottom: 1px solid #666666;
}

.card-tagline {
    font-weight: 500;
    font-size: 28px;
    color: #222222;
}

.card-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    color: #F2542D;
}

.calender {
    border: 1px solid #562C2C4D;
    border-radius: 24px;
    box-shadow: 0 4px 30px #F2542D1A;
    padding: 24px 32px;

}

.container-cal {
    max-width: 1024px;
}

.available {
    color: #F2542D;
    font-size: 18px;
    font-weight: 400;
}

.occupied {
    color: #AAAAAA;
    font-size: 18px;
    font-weight: 400;
    span {
        color: #999999 !important;
    }
}

.occupied-day {
    color: #999999 !important;
}

.btn-day {
    width: auto;
    gap: 4px;
    padding: 8px 16px;
    border-radius: 8px;
    border: 1px solid #D7D7D7;
    background-color: #FFFFFF;
    height: 4.5rem;
}

.btn-available {
    width: auto;
    gap: 8px;
    padding: 8px 16px;
    border-radius: 8px;
    background-color: #FFF4F1;
    border: 1px solid #F2542D;
    height: 4.5rem;

}

.btn-cal {
    height: 4.5rem;
}

.day {
    font-size: 20px;
    font-weight: 600;
    color: #562C2C;
}

/* Form Styling */
.form-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

label {
    display: flex;
    flex-direction: column;
    font-size: 24px;
    font-weight: 400;
    color: #562C2C;
}

input, textarea {
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
}

textarea {
    height: 80px;
}

.file-upload {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 14px;
    color: #3498db;
    cursor: pointer;
}

.icon {
    font-size: 18px;
}

.form-actions {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}
form {
    input {
        font-size: 18px;
        color: #562C2C;
        font-weight: 400;
        border: 1px solid #562C2C4D;
        border-radius: 123px;
        box-shadow: 0 4px 30px #F2542D1A;
    }

    .toolbar {
        font-size: 18px;
        color: #562C2C;
        border-radius: 16px;
        font-weight: 400;
        border: 1px solid #562C2C4D;
        box-shadow: 0 4px 30px #F2542D1A;
    }

    .ql-container {
        border: none !important;
    }

    .ql-toolbar {
        border: none !important;
        border-bottom: 1px solid #E2E8F0 !important;
    }
}

.btn-submit {
    width: 200px;
    height: 48px;
    padding: 12px 16px;
    border-radius: 33px;
    color: white;
    background-color: #F2542D;
    justify-content: center;
    margin-left: 1rem;
}

.btn-cancel {
    width: 200px;
    height: 48px;
    padding: 12px 16px;
    border-radius: 33px;
    border: 1px solid #562C2C4D;
    color: #562C2C;
    justify-content: center;


}

button {
    padding: 10px 15px;
    font-size: 14px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 5px;
}

.clear {
    background: #f2f2f2;
    color: #333;
}

.submit {
    background: #e74c3c;
    color: white;
}

.footer {
    background-color: #542d2d;
    color: #e5d3cf;
    padding: 3rem 7rem;

}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: start;
    margin: 0 auto;
}

.footer-section {
    flex: 1;
    text-align: left;
}

.footer-section p:hover {
    color: white;
}

.footer-title {
    font-weight: bold;
}

.footer-divider {
    border: none;
    border-top: 1px solid #7a4e4e;
    margin: 20px 0;
}

.footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;

    p:hover {
        color: white;
    }
}

.social-icons {
    display: flex;
    gap: 10px;
    align-items: start;
}

.social-icons img:hover {
    background-color: #542d2d;
}

.experiences-container {
    width: 1240px;
    margin: 0 auto;
}

.experiences-content {
    display: flex;
    align-items: center;
    width: 100%;
    gap: 1.5rem;
}

.experiences-text {
    width: 57.5%;
}

h2 {
    font-size: 24px;
    font-weight: bold;
}

.highlight {
    color: #F2542D99;
    font-weight: 700;
    text-align: left;
    span {
        color: #F2542D !important;
    }
}

.title-container {
    display: flex;
    align-items: center;
    gap: 10px;
}

.line {
    width: 5rem;
    height: 2px;
    background-color: #BBBBBB;
    border: none;
    margin: 10px 0;
}

.title-ex {
    font-weight: 600;
    font-size: 28px;
    color: #562C2C;
}

.description-ex {
    font-size: 18px;
    font-weight: 400;
    text-align: left;
    padding-left: 5.5rem;
    color: #562C2CCC;
}

.experiences-image {
    flex: 1;
    display: block;
    justify-content: center;
}

.experiences-image img {
    width: 100%;
    border-radius: 8px;
}

.experiences-icons {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    text-align: center;
    align-items: center;
}

.icon-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20%;
}

.icon {
    font-size: 32px;
    background-color: #008cba;
    color: white;
    border-radius: 50%;
    padding: 10px;
    margin-bottom: 10px;
}

.icon-title {
    font-weight: 500;
    font-size: 24px;
    color: #562C2C;
}

.icon-subtitle {
    font-weight: 400;
    font-size: 18px;
    color: #562C2C;
}

.container-so {
    max-width: 100%;
    margin: 2rem 0 auto;
    padding: 0 1rem;
    background: linear-gradient(to bottom, #eef8fc 10%, white 60%);
}

/*socialmedia*/
.social-media-container {
    max-width: 1240px;
    margin: 0 auto;
    text-align: center;
    padding: 40px 20px;
}

.text-section {
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: center;
}

.so-description {
    width: 48%;
    font-weight: 400;
    font-size: 18px;
    color: #562C2CCC;
    text-align: left;
}

.text-section h2 {
    width: 50%;
    font-weight: 600;
    font-size: 2.5rem;
    text-align: left;
    color: #562C2C;
}

.text-section h2 span {
    color: #F2542D;
    font-size: 2.5rem;
}

.main-card {
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    margin: 20px 0;
    text-align: left;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    background: url("../public/assets/food-1.svg") center/cover no-repeat;
    padding: 20px;
}

.image-overlay {
    position: absolute;
    top: 10%;
    left: 10%;
    width: 80%;
    height: 80%;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 15px;
}

.content-card {
    position: absolute;
    z-index: 2;
    top: 10%;
    left: 10%;
    width: 80%;
    height: 80%;
    display: flex
;
    flex-direction: column;
}

.main-image {
    width: 100%;
    height: auto;
    display: block;
}

/*test*/

.card {
    width: 100%;
    height: 43rem;
    border-radius: 16px;
    overflow: hidden;
    position: relative;
    background-image: url("../public/assets/food-1.svg");
    background-size: cover;
    background-position: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    padding: 16px;
}


.card::after {
    content: "";
    background: #0e959433;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    clip-path: polygon(0% 0%, 0% 100%, 7rem 100%, 7rem 4rem, calc(100% - 5.5rem) 4rem, calc(100% - 5.5rem) calc(100% - 4.25rem), 7rem calc(100% - 4.25rem),7rem 100%, 100% 100%, 100% 0%);
}


.card-content {
    padding: 16px;
    border-radius: 16px;
    position: absolute;
    top: 2rem;
    bottom: 2rem;
    left: 5.5rem;
    right: 4.5rem;
    display: flex;
    z-index: 3;
    flex-direction: column;

}


.image-wrapper {
    height: 100%;
    border: 1rem solid #fff;
    border-radius: 1rem 1rem 0 0;
    margin-bottom: -1px
}

.footer-so {
    background-color: white;
    padding: 3rem 3rem;
    border-radius: 0 0 1rem 1rem;
    display: flex;
    flex-direction: column;

    h3 {
        font-weight: 600;
        font-size: 1.5rem;
        color: #000000;

    }

    .date {
        padding: 6px 16px;
        border-radius: 100px;
        border: 1px solid #6666661A;
        font-weight: 400;
        font-size: 1rem;
        color: #000000;
    }

    p {
        font-weight: 400;
        font-size: 1rem;
        color: #666666;
        width: 70%;
    }
}



/**/

/*.card-content {*/
/*    padding: 15px;*/
/*}*/

.card-content h3 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
}

.card-content p {
    font-size: 14px;
    color: #666;
}

.card-content span {
    font-size: 12px;
    color: #aaa;
}

.image-grid {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.grid-item {
    border-radius: 1rem;
    text-align: center;
    position: relative;
}

.grid-card {
    width: 24%;
}

.grid-item img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: contain;
}

.footer-food {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    background-color: #562C2C99;
    border-radius: 0 0 1rem 1rem;
    padding: 0.75rem 1.25rem;
    justify-content: space-between;
    color: #ffffff;
    h3 {
        font-weight: 500;
        font-size: 1rem;
    }

    img {
        width: 1.5rem;
    }
}

.arrow-food {
    border-radius: 100%;
    width: 1.75rem;
    height: 1.75rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.arrow-food:hover {
    background-color: #000;
}

.grid-item p {
    font-size: 14px;
    color: #555;
    margin-top: 5px;
}

.footer-text {
    font-size: 1.5rem;
    margin-top: 20px;
    font-weight: 400;
    color: #666666;
}

.footer-text span {
    font-weight: 700;
    color: #F2542D;
}

.last-section {
    position: relative;
    width: 100%;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: url('../public/assets/Maskbg.png') no-repeat center/cover;
}

.last-content {
    position: absolute;
    top: 3rem;
    z-index: 2;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.last-title {
    font-size: 3rem;
    font-weight: 400;
    color: #562C2C;
}

.last-title .bold {
    font-weight: 600;
}

.last-subtitle {
    font-size: 3rem;
    font-weight: 600;
    color: #562C2C80;
    margin-top: -8px;
}

.last-description {
    font-size: 1.5rem;
    font-weight: 400;
    color: #562C2C;
    margin: 15px 0;
}

.last-button {
    max-width: 152px;
    padding: 10px 20px;
    background: #F2542D;
    color: white;
    font-weight: 500;
    font-size: 1rem;
    border: none;
    border-radius: 2.5rem;
    cursor: pointer;
    transition: 0.3s;
}

.last-button:hover {
    background: #D84B2A;
}



@media screen and (min-width: 1024px) {

    .nav-item::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        height: 0;
        background: #fff;
        transition: all .1s ease-in;
    }

    .nav-item h4 {
        transform: translateY(10rem);
        font-size: 1.25rem;
        font-weight: 600;
        text-transform: uppercase
    }
    .nav-item:hover h4 {
        transform: translateY(0); /* Trượt lên để hiển thị trong khung */
    }

    .nav-item:hover img {
        transform: scale(1.2); /* Phóng to text */
    }

    .nav-item:hover::after {
        box-shadow: #fffc 0 22px 70px 4px;
        height: 3px;
    }
}

@media (max-width: 768px) {
    .container-cal {
        max-width: 480px;
    }

    .experiences-container {
        width: 768px;
        margin: 0 auto;
    }

    .nav-hero {
        bottom: 1rem;
    }

    .nav-item h4 {
        display: none;
    }

    .features {
        padding: 1rem 1rem;
    }

    .card-item {
        margin-bottom: 1rem;
    }
    .footer-container {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .footer-section {
        min-width: unset;
        width: 100%;
    }

    .footer-bottom {
        flex-direction: column;
        text-align: center;
    }

    .social-icons {
        margin-top: 10px;
    }

    .experiences-content {
        flex-direction: column;
        text-align: center;
    }

    .title-container {
        justify-content: center;
    }

    .experiences-icons {
        flex-wrap: wrap;
        gap: 10px;
    }

    .icon-box {
        flex: 1 1 45%;
    }

    .text-section {
        text-align: center;
    }

    .main-card {
        text-align: center;
    }

    .image-grid {
        flex-wrap: wrap;
        justify-content: center;
    }

    .grid-item {
        width: 48%;
        margin-bottom: 10px;
    }
}

/* Responsive cho màn hình điện thoại */
@media (max-width: 480px) {
    .container-cal {
        max-width: 480px;
    }

    .map-activity {
        flex-direction: column;
    }

    .features {
        padding: 1rem 1rem;
    }

    .card-item {
        margin-bottom: 1rem;
    }
    .experiences-container {
        width: 480px;
        margin: 0 auto;
    }

    .nav-item h4 {
        display: none;
    }

    .nav-hero {
        bottom: 1rem;
    }

    .footer {
        padding: 15px;
    }

    .footer-container {
        text-align: center;
    }

    .footer-section {
        margin-bottom: 15px;
    }

    .social-icons {
        gap: 5px;
    }

    .icon {
        padding: 8px;
        font-size: 14px;
    }

    .experiences-icons {
        flex-direction: column;
        align-items: center;
    }

    .icon-box {
        width: 100%;
    }

    .grid-item {
        width: 100%;
    }

    .text-section h2 {
        font-size: 20px;
    }
}
